html{
	font-family: Arial;
}

table{
	border: solid 0.1em black;
}

table > thead{
	background-color: #878787;
}

table th, table td{
	text-align: left;
	padding: 20px;
} 

table tbody tr{
	cursor: pointer;
}

table tbody tr:hover{
	background-color: #f1f1f1;
}

nav > li {
	display: inline;
	color: #878787;
	font-weight: bold;
}

nav > li:hover{
	color: black;
	cursor: pointer;
}