<h2> Leaves list </h2>

<table>
	<thead>
		<tr>
			<td> ID </td>
			<td> Employee </td>
			<td> Reason </td>
		</tr>
	</thead>
	<tbody>
		{{#each model as |leave|}}
			<tr>
				<td> {{leave.id}} </td>
				<td> {{leave.email}} </td>
				<td> {{leave.leaveNote}} </td>
			</tr>
		{{/each}}
	</tbody>
</table>
