<table class="ui celled table">
	<thead>
		<tr>
			<th> ID </th>
			<th> Employee </th>
			<th> Reason </th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |leave|}}
			<tr>
				<td> {{leave.id}} </td>
				<td> {{leave.email}} </td>
				<td> {{leave.leaveNote}} </td>
			</tr>
		{{/each}}
	</tbody>
</table>
